extends base.pug

block content 
    h4 Update Video
    form(method="POST")
        input(name="title", placeholder="Video Title", value=video.title, required)
        input(name="description" placeholder="description", required, type="text", minlength=20, value=video.description)
        input(name="hashtags" placeholder="Hashtags, separated bu comma.", required, value=video.hashtags.join(), type="text")
        input(value="Save", type="submit")