extends base

block content
    if errorMessage
        strong=errorMessage
    form(method="POST")
        input(placeholder="Username", name="username", type="   text", required)
        input(placeholder="Password", name="password", type="password", required)
        input(type="submit", value="Log in")
        include partials/social-login
    div.auth-switch
        span Don't have an acoount?
        br 
        a(href="/join") Create one now &rarr;
